a{cursor: pointer;}
a:hover{text-decoration: none;}
img{width: 100%;height: auto;}
.row{margin: 0;}

/*首页导航条*/
.col-md-12{padding: 0;}
#nav-top>img(0){width: 100%;height: auto;}
#place-area{background-color: #2C5A9A;width: 100%;height: 40px;}
#nav{position: absolute;top: 10%;left: 20%;line-height: 40px;color: #FFF;z-index: 10;}
#nav ul span{padding: 0 20px;}
#nav ul li a{color: #FFF;}
#nav ul li a:hover{color: #E6CB73;}
#logo{width: 100px;height: auto;}

/*子页面导航*/
#subpage-nav{height: 30px;background-color: #676767;}
#subpage-nav a{color: #DFDFDF;}
#subpage-nav p{color: #DFDFDF;width: 400px;display: inline-block;float: left;line-height: 30px;}
#subpage-nav p:nth-child(1){margin-left: 20%;}
#subpage-nav p:nth-child(2){margin-left: 15%;}
#subpage-nav p a:hover{color: #E6CB73;}
#subpage-logo{width:100px;height:auto;margin-left: 21%;display: inline-block;float: left;}
#banner {float: left;line-height: 100px;padding-left: 20px;margin-bottom: 0px;}
#banner li a{color: #3C3C3C;}
#banner li p{display: initial;color: #E6CB73;}
#banner li a:hover{color: #E6CB73;}
#banner li span{padding-left: 14px;}

#fixed-cart{display: none;}
